<!-- Modal window -->
<div id="inModal" style="display:none;">
<p class="explanationA">
	We are required to ask for information about your children’s race and ethnicity. Responding to this section is optional and does not affect your children’s eligibility for free or reduced price meals.
</p>
 <p class="whyA">Why?</p>
 <p class="whyDetailsA">
	We need this important information to help us ensure that we are fully serving our community. 
</p>
</div>

<!-- Link to open the modal -->
<p class="emojiH"><a href="#inModal" rel="modal:open"><%= image_tag('confused.png') %></a></p>
<div class="shareBackground">
	<h3>Thanks <%= @household.fillerName %>! This will help us to better serve.</h3>
	<h4>Mark all that classify the children living with you:</h4><br />
	<h6><%= o.check_box :hl %> Hispanic or Latino</h6>
	<h6><%= o.check_box :indy %> Native American</h6>
	<h6><%= o.check_box :azn %> Asian</h6>
	<h6><%= o.check_box :blk %> African American or Black</h6>
	<h6><%= o.check_box :pac %> Pacific Islander or Native Hawaiian</h6>
	<h6><%= o.check_box :wh %> White/Caucasian</h6>
	<%= o.hidden_field :household_id, :value => @household.id %><br />
	<%= o.submit "Complete Application", class: "nextBtn" %>   
</div>